In [385]:
import pandas as pd  
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics

In [386]:
trbc1 = pd.read_excel('Data_ML.xlsx')
trbc1.head(10)

,Identifier,Company Name,Business Description,TRBC Economic Sector Name
0,CMI.N,Cummins Inc,"Cummins Inc. designs, manufactures, distribute...",Consumer Cyclicals
1,RIO.L,Rio Tinto PLC,Rio Tinto plc is a mining and metals company. ...,Basic Materials
2,RIO.AX,Rio Tinto Ltd,Rio Tinto Limited (Rio Tinto) is a mining comp...,Basic Materials
3,RDSa.AS,Royal Dutch Shell PLC,The Royal Dutch Shell plc explores for crude o...,Energy
4,BLT.L,BHP Billiton PLC,BHP Billiton Plc is a global resources company...,Basic Materials
5,BHP.AX,BHP Billiton Ltd,BHP Billiton Limited is a global resources com...,Basic Materials
6,PETR4.SA,Petroleo Brasileiro SA Petrobras,Petroleo Brasileiro S.A.-Petrobras specializes...,Energy
7,TOTF.PA,Total SA,Total S.A. (Total) is an oil and gas company. ...,Energy
8,7203.T,Toyota Motor Corp,Toyota Motor Corporation (Toyota) conducts bus...,Consumer Cyclicals
9,BP.L,BP PLC,BP p.l.c. is an integrated oil and gas company...,Energy

In [387]:
trbc1.shape

(23036, 4)

In [388]:
trbc1.isnull().sum()

Identifier                    0
Company Name                  0
Business Description         14
TRBC Economic Sector Name     0
dtype: int64

In [389]:
trbc = trbc1.dropna()
trbc.shape

(23022, 4)

In [390]:
trbc.groupby('TRBC Economic Sector Name').count()

                             Identifier  Company Name  Business Description
TRBC Economic Sector Name
Basic Materials                    2483          2483                  2483
Consumer Cyclicals                 3617          3617                  3617
Consumer Non-Cyclicals             1735          1735                  1735
Energy                             1062          1062                  1062
Financials                         4743          4743                  4743
Healthcare                         1770          1770                  1770
Industrials                        4049          4049                  4049
Technology                         2592          2592                  2592
Telecommunications Services         307           307                   307
Utilities                           664           664                   664

In [391]:
# remove punctuations
trbc['Business Description'] = trbc['Business Description'].str.replace('[^\w\s]','')

trbc['Business Description'] = trbc['Business Description'].str.lower()

/home/iremu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/iremu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [392]:
#mapping sector names  
sector_name = {"Basic Materials":0 ,"Consumer Cyclicals":1, "Consumer Non-Cyclicals":2,
               "Energy":3 ,"Financials":4 ,"Healthcare":5, "Industrials":6, "Technology":7,
               "Telecommunications Services":8 ,"Utilities":9 }

trbc['TRBC Economic Sector Name'] = trbc['TRBC Economic Sector Name'].map(sector_name)

/home/iremu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [393]:
trbc.head(10)

,Identifier,Company Name,Business Description,TRBC Economic Sector Name
0,CMI.N,Cummins Inc,cummins inc designs manufactures distributes a...,1
1,RIO.L,Rio Tinto PLC,rio tinto plc is a mining and metals company t...,0
2,RIO.AX,Rio Tinto Ltd,rio tinto limited rio tinto is a mining compan...,0
3,RDSa.AS,Royal Dutch Shell PLC,the royal dutch shell plc explores for crude o...,3
4,BLT.L,BHP Billiton PLC,bhp billiton plc is a global resources company...,0
5,BHP.AX,BHP Billiton Ltd,bhp billiton limited is a global resources com...,0
6,PETR4.SA,Petroleo Brasileiro SA Petrobras,petroleo brasileiro sapetrobras specializes in...,3
7,TOTF.PA,Total SA,total sa total is an oil and gas company the c...,3
8,7203.T,Toyota Motor Corp,toyota motor corporation toyota conducts busin...,1
9,BP.L,BP PLC,bp plc is an integrated oil and gas company th...,3

In [394]:
x = trbc['Business Description']
y = trbc['TRBC Economic Sector Name']

In [395]:
#split the data into a training dataset and a test dataset 
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2 , random_state=4)

In [396]:
print(x_train.shape, y_train.shape, x_test.shape, y_test.shape)

(18417,) (18417,) (4605,) (4605,)

In [397]:
#Vectorization
vectorizer = CountVectorizer(ngram_range=(1,3),stop_words='english')  #(1,4) is not run on my comp. because of my RAM
x_train_vector =  vectorizer.fit_transform(x_train)
x_test_vector = vectorizer.transform(x_test)

In [400]:
#x_train.iloc[0]

In [401]:
#y_train.head(10)

# Multinomial Naive Bayes

In [402]:
# Multinomial Naive Bayes model for text classification
classifier = MultinomialNB()

# train the model 
classifier.fit(x_train_vector, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [403]:
# training data predictions
y_train_pred = classifier.predict(x_train_vector)

# accuracy of training data predictions
metrics.accuracy_score(y_train, y_train_pred)
#classifier.score(x_train_vector, y_train)

0.961720149861541

In [404]:
y_test_pred= classifier.predict(x_test_vector)
metrics.accuracy_score(y_test, y_test_pred)

0.7252985884907709

In [405]:
#metrics.confusion_matrix(y_test, y_pred_test)

In [406]:
actual = np.array(y_test)
print('prediction:', classifier.predict(x_test_vector[5]))
print('actual: ', actual[5])
print('text:', x_test.iloc[5] )

prediction: [4]
actual:  4
text: banco internacional sa is a guatemalabased universal bank the bank provides financial services to individual customers and businesses its product range comprises savings accounts time deposits credit and debit cards mortgages as well as consumer and commercial loans among others the bank distributes also life property and casualty insurance policies underwritten by a number of insurance companies such as aig mapfre intervalores and panamerican life furthermore it provides an online access to bank accounts which enables to transfer money pay bills check current balance and change passwords among others the bank offers a loyalty program for customers who uses its payment card the loyalty program includes discounts for services delivered by cooperating companies